<div class="chrome:sidebar">
  {% for item in site.sidebar %}
    {% if item.children %}
      {% capture id %}sidebar_item:{{ item.label | strip | downcase | remove: "'" | remove: '"' | escape }}{% endcapture %}
      {% capture accordian_id %}{{ id }}:accordian{% endcapture %}
      {% capture collapsibleClass %}
      {%- if item.children contains page.id -%}expanded{%- else -%}collapsed{%- endif -%}
      {% endcapture %}
      <button
        id="{{ id }}"
        class="chrome:sidebar_item chrome:sidebar_item_collapsible chrome:sidebar_item_{{ collapsibleClass }}"
        onclick="toggleAccordian('{{ id }}')"
      >
        <span class="chrome:sidebar_item_text">{{ item.label }}</span>
        {% include collapsible_sidebar_icon.html %}
      </button>
      <div id="{{ accordian_id }}"
        class="chrome:sidebar_item_accordian chrome:sidebar_item_accordian_{{ collapsibleClass }}">
        {% for child in item.children %}
          {% assign meta = site.pages | where: "id", child | first %}
          {% if meta %}
          {% if page.id == meta.id %}
            {% assign active_class = "chrome:active_sidebar_item" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
          <a href="{{ meta.url | relative_url }}" class="chrome:sidebar_item text-sm {{ active_class }} chrome:sidebar_item_child">
            {{ meta.sidebar_label | default: meta.title }}
          </a>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      {% assign meta = site.pages | where: "id", item | first %}
      {% if meta %}
      {% if page.id == meta.id %}
        {% assign active_class = "chrome:active_sidebar_item" %}
      {% else %}
        {% assign active_class = "" %}
      {% endif %}
      <a href="{{ meta.url | relative_url }}" class="chrome:sidebar_item {{ active_class }}">
        <span class="chrome:sidebar_item_text">{{ meta.sidebar_label | default: meta.title }}</span>
      </a>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
