<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/rouge.css">
</head>

<body>
  <div class="chrome">
    <div class="chrome:nav">
      <div></div>
    </div>
    <div class="chrome:body">
      <header class="chrome:header">

      </header>
      <div class="chrome:content">
        <div class="chrome:main">
          {{ content }}
        </div>
        <div class="chrome:sidebar">

        </div>
      </div>
      <footer class="chrome:footer">
        <div>
          {% if site.version and site.version != "" %}
          <span>Version: {{ site.version }}</span>
          <span>&nbsp;|&nbsp;</span>
          {% endif %}
          <span>Updated: {{ site.time | date: "%Y-%m-%d %H:%M" }}</span>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>
