<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/rouge.css' | relative_url }}">
  <script src="{{ '/assets/js/accordian.js' | relative_url }}"></script>
</head>

<body>
  <div class="chrome">
    <div class="chrome:nav">
      <div></div>
    </div>
    <div class="chrome:body">
      <header class="chrome:header">

      </header>
      <div class="chrome:content">
        <div class="chrome:main">
          {{ content }}
        </div>
        {% if site.sidebar %}
          <div class="chrome:sidebar">
            {% for item in site.sidebar %}
              {% if item.children %}
                {% assign active_child = item.children | where: "id", page.id | first %}
                {% capture id %}sidebar_item:-{{ item.label }}{% endcapture %}
                {% capture accordian_id %}{{ id }}:accordian{% endcapture %}
                {% capture collapsibleClass %}
                  {%- if active_child -%}expanded{%- else -%}collapsed{%- endif -%}
                {% endcapture %}
                <button
                  id="{{ id }}"
                  class="chrome:sidebar_item chrome:sidebar_item_collapsible chrome:sidebar_item_{{ collapsibleClass }}"
                  onclick="toggleAccordian('{{ id }}')"
                >
                  {{ item.label }}
                  {% include collapsible_sidebar_icon.html %}
                </button>
                <div id="{{ accordian_id }}" class="chrome:sidebar_item_accordian chrome:sidebar_item_accordian_{{ collapsibleClass }}">
                  {% for child in item.children %}
                    {% assign meta = site.pages | where: "id", child.id | first %}
                    <a href="{{ meta.url | relative_url }}" class="chrome:sidebar_item chrome:sidebar_item_child">{{ meta.sidebar_label | default: meta.title }}</a>
                  {% endfor %}
                </div>
              {% else %}
                {% assign meta = site.pages | where: "id", item.id | first %}
                <a href="{{ meta.url | relative_url }}" class="chrome:sidebar_item">{{ meta.sidebar_label | default: meta.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <footer class="chrome:footer">
        <div>
          {% if site.version and site.version != "" %}
          <span>Version: {{ site.version }}</span>
          <span>&nbsp;|&nbsp;</span>
          {% endif %}
          <span>Updated: {{ site.time | date: "%Y-%m-%d %H:%M" }}</span>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>
