<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title | default: site.title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/rouge.css' | relative_url }}"
    />
    <script src="{{ '/assets/js/accordian.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/heading_links.js' | relative_url }}"></script>
    {% if site.search_enabled %}
    <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
    {% endif %}
  </head>

  <body>
    <div class="chrome">
      {% include navbar.html %}
      <div class="chrome:body">
        {% include header.html %}
        <div class="chrome:content">
          <div class="chrome:main">
            {% if site.auto_page_title and page.title %}
            {% if page.auto_title != false %}
            <h1 id="{{ page.title | replace: " ", "-" | downcase | url_encode }}">{{ page.title }}</h1>
            {% endif %}
            {% endif %}
            {{ content }}
            {% if page.previous_page or page.next_page %} {% include page_nav.html %} {% endif %}
          </div>
          {% if site.sidebar %} {% include sidebar.html %} {% endif %}
        </div>
        {% include footer.html %}
      </div>
    </div>
    {% if site.mermaid_enabled != false %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        let theme = "{{ site.mermaid_theme }}";
        mermaid.initialize({ startOnLoad: true, theme });
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    </script>
    {% endif %}
  </body>
</html>
